In [2]:
import numpy as np
import pandas as pd

# --- Ø¨Ø®Ø´ 1: ØªÙˆÙ„ÛŒØ¯ Ø¯Ø§Ø¯Ù‡ Ø¨Ø§ NumPy ---

cities = np.array(["Tehran", "Mashhad", "Isfahan", "Tabriz", "Shiraz", "Ahvaz"])

# Ø¨Ø±Ø§ÛŒ Ù‡Ø± Ø´Ù‡Ø± 30 Ø±ÙˆØ² (Ø¯Ø± Ù…Ø¬Ù…ÙˆØ¹ 180 Ø±Ø¯ÛŒÙ)
days = np.tile(np.arange(1, 31), len(cities))       # [1,2,...,30,1,2,...,30,...]
city_data = np.repeat(cities, 30)                   # ['Tehran','Tehran',...,'Ahvaz']

# ØªÙˆÙ„ÛŒØ¯ Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ÛŒ ØªØµØ§Ø¯ÙÛŒ Ø¨Ø±Ø§ÛŒ Ù‡Ø± Ø±Ø¯ÛŒÙ
temperature = np.random.randint(15, 41, size=len(city_data))
humidity = np.random.randint(20, 81, size=len(city_data))
rainfall = np.random.randint(0, 51, size=len(city_data))

# --- Ø¨Ø®Ø´ 2: Ø³Ø§Ø®Øª DataFrame Ø¨Ø§ Pandas ---
data = pd.DataFrame({
    "City": city_data,
    "Day": days,
    "Temperature": temperature,
    "Humidity": humidity,
    "Rainfall": rainfall
})
data
# print("ðŸ“Š Ú†Ù†Ø¯ Ø±Ø¯ÛŒÙ Ø§ÙˆÙ„ Ø¯Ø§Ø¯Ù‡:")
# print(data.head(), "\n")

# # --- Ø¨Ø®Ø´ 3: ØªØ­Ù„ÛŒÙ„â€ŒÙ‡Ø§ÛŒ Ø¢Ù…Ø§Ø±ÛŒ ---

# # 1ï¸âƒ£ Ù…ÛŒØ§Ù†Ú¯ÛŒÙ† Ø¯Ù…Ø§ØŒ Ø±Ø·ÙˆØ¨Øª Ùˆ Ø¨Ø§Ø±Ù†Ø¯Ú¯ÛŒ Ù‡Ø± Ø´Ù‡Ø±
# mean_stats = data.groupby("City")[["Temperature", "Humidity", "Rainfall"]].mean()
# print("Ù…ÛŒØ§Ù†Ú¯ÛŒÙ† Ø¯Ù…Ø§ØŒ Ø±Ø·ÙˆØ¨Øª Ùˆ Ø¨Ø§Ø±Ù†Ø¯Ú¯ÛŒ Ù‡Ø± Ø´Ù‡Ø±:")
# print(mean_stats, "\n")

# # 2ï¸âƒ£ Ú¯Ø±Ù…â€ŒØªØ±ÛŒÙ† Ùˆ Ø³Ø±Ø¯ØªØ±ÛŒÙ† Ø´Ù‡Ø±
# hottest_city = mean_stats["Temperature"].idxmax()
# coldest_city = mean_stats["Temperature"].idxmin()
# print(f"ðŸŒ¡ï¸ Ú¯Ø±Ù…â€ŒØªØ±ÛŒÙ† Ø´Ù‡Ø±: {hottest_city} Ø¨Ø§ Ù…ÛŒØ§Ù†Ú¯ÛŒÙ† Ø¯Ù…Ø§ÛŒ {mean_stats.loc[hottest_city, 'Temperature']:.1f}")
# print(f"â„ï¸ Ø³Ø±Ø¯ØªØ±ÛŒÙ† Ø´Ù‡Ø±: {coldest_city} Ø¨Ø§ Ù…ÛŒØ§Ù†Ú¯ÛŒÙ† Ø¯Ù…Ø§ÛŒ {mean_stats.loc[coldest_city, 'Temperature']:.1f}\n")

# # 3ï¸âƒ£ ØªØ¹Ø¯Ø§Ø¯ Ø±ÙˆØ²Ù‡Ø§ÛŒ Ø¨Ø§ Ø¨Ø§Ø±Ù†Ø¯Ú¯ÛŒ Ø¨Ø§Ù„Ø§ÛŒ 10 Ù…ÛŒÙ„ÛŒâ€ŒÙ…ØªØ± Ø¨Ø±Ø§ÛŒ Ù‡Ø± Ø´Ù‡Ø±
# rainy_days = data[data["Rainfall"] > 10].groupby("City")["Day"].count()
# print("ØªØ¹Ø¯Ø§Ø¯ Ø±ÙˆØ²Ù‡Ø§ÛŒ Ø¨Ø§ Ø¨Ø§Ø±Ù†Ø¯Ú¯ÛŒ Ø¨ÛŒØ´ Ø§Ø² 10 Ù…ÛŒÙ„ÛŒâ€ŒÙ…ØªØ± Ø¨Ø±Ø§ÛŒ Ù‡Ø± Ø´Ù‡Ø±:")
# print(rainy_days)

       City  Day  Temperature  Humidity  Rainfall
0    Tehran    1           35        52        16
1    Tehran    2           29        65        28
2    Tehran    3           40        47        36
3    Tehran    4           35        31        44
4    Tehran    5           33        60        33
..      ...  ...          ...       ...       ...
175   Ahvaz   26           24        30         9
176   Ahvaz   27           17        69        13
177   Ahvaz   28           21        39        33
178   Ahvaz   29           24        76         0
179   Ahvaz   30           27        46        41

[180 rows x 5 columns]